@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Computing and IT Courses are at the cutting edge of new career opportunities, and Buckinghamshire College Group provides a range of courses at different levels to develop your technical skills and abilities, giving you an advantage in a fast growing industry. So whether its learning about how to improve productivity using IT, or learning how to format cells and worksheets in Excel, the skills you will pick up in our courses will help give you the practical experience to help achieve success in the Computer and IT Industry. Here at Buckinghamshire College Group we offer a Foundation Degree in IT, as well as numerous IT based Diplomas. We also offer Apprenticeships in IT User Skills, which allow you to gain a foundation in advanced practical skills whilst earning a wage and a recognised qualification.</p>
