@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    6A Rivington Road<br />
    St Helens, WA10 6TB<br />
    <abbr title="Phone">P:</abbr>
     +44 7700 900475
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Help@InformationCollege.com</a><br />
</address>