@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Information and Technology College! </h1>
    <p class="lead">Here, you can view and see different courses available to interested people.</p>
</div>


<div class="row" style="position:static">
    <div class="col-md-4">
        <h2> Browse Courses!</h2>
        <p>
            We have got collection of courses which will fulfill your desire to learn about Computing or Informations!
        </p>
        <p>
            <a >
                @Html.ActionLink("Courses", "Index", "Courses")
            </a>
        </p>

    </div>
    <div class="col-md-4">
        <h2>Register with us!</h2>
        <p>Register, to be able to learn with our college and achieve the stars!  </p>
        <p><a class="btn btn-default" href="#/Home/Register">Register Here! &raquo;</a></p>
    </div>

</div>